In [19]:
import pandas as pd
import numpy as np

#read excel file
df_missing=pd.read_excel('F:\sapceX\missing_dataset_falcon9.xlsx')

df_missing.info

<bound method DataFrame.info of     FlightNumber       Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1 2010-06-04       Falcon 9   6104.959412   LEO  CCAFS SLC 40
1              2 2012-05-22       Falcon 9    525.000000   LEO  CCAFS SLC 40
2              3 2013-03-01       Falcon 9    677.000000   ISS  CCAFS SLC 40
3              4 2013-09-29       Falcon 9           NaN    PO   VAFB SLC 4E
4              5 2013-12-03       Falcon 9   3170.000000   GTO           NaN
..           ...        ...            ...           ...   ...           ...
85            86 2020-09-03       Falcon 9  15400.000000  VLEO    KSC LC 39A
86            87 2020-10-06       Falcon 9  15400.000000  VLEO    KSC LC 39A
87            88 2020-10-18       Falcon 9  15400.000000  VLEO    KSC LC 39A
88            89 2020-10-24       Falcon 9  15400.000000  VLEO  CCAFS SLC 40
89            90 2020-11-05       Falcon 9   3681.000000   MEO  CCAFS SLC 40

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
..          ...      ...       ...     ...    ...                       ...
85    True ASDS        2      True    True   True  5e9e3032383ecb6bb234e7ca
86    True ASDS        3      True    True   True  5e9e3032383ecb6bb234e7ca
87    True ASDS        6      True    True   True  5e9e3032383ecb6bb234e7ca
88    True ASDS        3      True    True   True  5e9e3033383ecbb9e534e7cc
89    True ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude  Class
0       1            0  B0003  -80.577366  28.561857      0
1       1            0  B0005  -80.577366  28.561857      0
2       1            0  B0007  -80.577366  28.561857      0
3       1            0  B1003 -120.610829  34.632093      0
4       1            0  B1004  -80.577366  28.561857      0
..    ...          ...    ...         ...        ...    ...
85      5            2  B1060  -80.603956  28.608058      1
86      5            2  B1058  -80.603956  28.608058      1
87      5            5  B1051  -80.603956  28.608058      1
88      5            2  B1060  -80.577366  28.561857      1
89      5            0  B1062  -80.577366  28.561857      1

[90 rows x 18 columns]>

In [20]:
#calculate the mean of payloadmass
payload_mean=df_missing['PayloadMass'].mean()

#filling none values with payloadmass mean in the number values
df_missing['PayloadMass']=df_missing['PayloadMass'].replace(np.nan, payload_mean)
df_missing.info

<bound method DataFrame.info of     FlightNumber       Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1 2010-06-04       Falcon 9   6104.959412   LEO  CCAFS SLC 40
1              2 2012-05-22       Falcon 9    525.000000   LEO  CCAFS SLC 40
2              3 2013-03-01       Falcon 9    677.000000   ISS  CCAFS SLC 40
3              4 2013-09-29       Falcon 9   6379.736885    PO   VAFB SLC 4E
4              5 2013-12-03       Falcon 9   3170.000000   GTO           NaN
..           ...        ...            ...           ...   ...           ...
85            86 2020-09-03       Falcon 9  15400.000000  VLEO    KSC LC 39A
86            87 2020-10-06       Falcon 9  15400.000000  VLEO    KSC LC 39A
87            88 2020-10-18       Falcon 9  15400.000000  VLEO    KSC LC 39A
88            89 2020-10-24       Falcon 9  15400.000000  VLEO  CCAFS SLC 40
89            90 2020-11-05       Falcon 9   3681.000000   MEO  CCAFS SLC 40

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
..          ...      ...       ...     ...    ...                       ...
85    True ASDS        2      True    True   True  5e9e3032383ecb6bb234e7ca
86    True ASDS        3      True    True   True  5e9e3032383ecb6bb234e7ca
87    True ASDS        6      True    True   True  5e9e3032383ecb6bb234e7ca
88    True ASDS        3      True    True   True  5e9e3033383ecbb9e534e7cc
89    True ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude  Class
0       1            0  B0003  -80.577366  28.561857      0
1       1            0  B0005  -80.577366  28.561857      0
2       1            0  B0007  -80.577366  28.561857      0
3       1            0  B1003 -120.610829  34.632093      0
4       1            0  B1004  -80.577366  28.561857      0
..    ...          ...    ...         ...        ...    ...
85      5            2  B1060  -80.603956  28.608058      1
86      5            2  B1058  -80.603956  28.608058      1
87      5            5  B1051  -80.603956  28.608058      1
88      5            2  B1060  -80.577366  28.561857      1
89      5            0  B1062  -80.577366  28.561857      1

[90 rows x 18 columns]>

In [22]:
#filling none values with CCAFS ,that is most frequent variable in categorical values
df_missing['LaunchSite'].value_counts()
df_missing['LaunchSite']=df_missing['LaunchSite'].replace(np.nan, 'CCAFS SLC 40')
df_missing.info

<bound method DataFrame.info of     FlightNumber       Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1 2010-06-04       Falcon 9   6104.959412   LEO  CCAFS SLC 40
1              2 2012-05-22       Falcon 9    525.000000   LEO  CCAFS SLC 40
2              3 2013-03-01       Falcon 9    677.000000   ISS  CCAFS SLC 40
3              4 2013-09-29       Falcon 9   6379.736885    PO   VAFB SLC 4E
4              5 2013-12-03       Falcon 9   3170.000000   GTO  CCAFS SLC 40
..           ...        ...            ...           ...   ...           ...
85            86 2020-09-03       Falcon 9  15400.000000  VLEO    KSC LC 39A
86            87 2020-10-06       Falcon 9  15400.000000  VLEO    KSC LC 39A
87            88 2020-10-18       Falcon 9  15400.000000  VLEO    KSC LC 39A
88            89 2020-10-24       Falcon 9  15400.000000  VLEO  CCAFS SLC 40
89            90 2020-11-05       Falcon 9   3681.000000   MEO  CCAFS SLC 40

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
..          ...      ...       ...     ...    ...                       ...
85    True ASDS        2      True    True   True  5e9e3032383ecb6bb234e7ca
86    True ASDS        3      True    True   True  5e9e3032383ecb6bb234e7ca
87    True ASDS        6      True    True   True  5e9e3032383ecb6bb234e7ca
88    True ASDS        3      True    True   True  5e9e3033383ecbb9e534e7cc
89    True ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude  Class
0       1            0  B0003  -80.577366  28.561857      0
1       1            0  B0005  -80.577366  28.561857      0
2       1            0  B0007  -80.577366  28.561857      0
3       1            0  B1003 -120.610829  34.632093      0
4       1            0  B1004  -80.577366  28.561857      0
..    ...          ...    ...         ...        ...    ...
85      5            2  B1060  -80.603956  28.608058      1
86      5            2  B1058  -80.603956  28.608058      1
87      5            5  B1051  -80.603956  28.608058      1
88      5            2  B1060  -80.577366  28.561857      1
89      5            0  B1062  -80.577366  28.561857      1

[90 rows x 18 columns]>

In [23]:
#filling none values in the categorized variables is not always the most frequent way 
df_missing['LandingPad'].value_counts()
df_landingpad=df_missing[df_missing['LandingPad']=='5e9e3032383ecb6bb234e7ca']
set(df_landingpad['Orbit'])
df_1=df_missing[['LandingPad','Orbit']]
pd.isnull(df_1['LandingPad'])

0      True
1      True
2      True
3      True
4      True
      ...
85    False
86    False
87    False
88    False
89    False
Name: LandingPad, Length: 90, dtype: bool

In [24]:
#removing columns that need to be cleaned
df=pd.read_csv('dataset_falcon9.csv')
df=df.drop(['FlightNumber','Date','BoosterVersion','Longitude','Latitude'],axis=1)
df.info

<bound method DataFrame.info of      PayloadMass Orbit    LaunchSite      Outcome  Flights  GridFins  Reused  \
0    6104.959412   LEO  CCAFS SLC 40    None None        1     False   False
1     525.000000   LEO  CCAFS SLC 40    None None        1     False   False
2     677.000000   ISS  CCAFS SLC 40    None None        1     False   False
3     500.000000    PO   VAFB SLC 4E  False Ocean        1     False   False
4    3170.000000   GTO  CCAFS SLC 40    None None        1     False   False
..           ...   ...           ...          ...      ...       ...     ...
85  15400.000000  VLEO    KSC LC 39A    True ASDS        2      True    True
86  15400.000000  VLEO    KSC LC 39A    True ASDS        3      True    True
87  15400.000000  VLEO    KSC LC 39A    True ASDS        6      True    True
88  15400.000000  VLEO  CCAFS SLC 40    True ASDS        3      True    True
89   3681.000000   MEO  CCAFS SLC 40    True ASDS        1      True   False

     Legs                LandingPad  Block  ReusedCount Serial  Class
0   False                       NaN    1.0            0  B0003      0
1   False                       NaN    1.0            0  B0005      0
2   False                       NaN    1.0            0  B0007      0
3   False                       NaN    1.0            0  B1003      0
4   False                       NaN    1.0            0  B1004      0
..    ...                       ...    ...          ...    ...    ...
85   True  5e9e3032383ecb6bb234e7ca    5.0            2  B1060      1
86   True  5e9e3032383ecb6bb234e7ca    5.0            2  B1058      1
87   True  5e9e3032383ecb6bb234e7ca    5.0            5  B1051      1
88   True  5e9e3033383ecbb9e534e7cc    5.0            2  B1060      1
89   True  5e9e3032383ecb6bb234e7ca    5.0            0  B1062      1

[90 rows x 13 columns]>

In [25]:
#assigning numbers to categorical variables
df_dummy= pd.get_dummies(df[['Orbit','LaunchSite','Outcome','LandingPad','Serial']])

In [26]:
#changing type to integer
df['GridFins']=df['GridFins'].astype(int)
df['Reused']=df['Reused'].astype(int)
df['Legs']=df['Legs'].astype(int)

In [27]:
#deleting categorized values and replacing to new values that they are numbers and finally save this changing
df=df.drop(['Orbit','LaunchSite','Outcome','LandingPad','Serial'],axis=1)
df = pd.concat([df, df_dummy], axis=1)
df.to_csv('preprocessed_dataset.csv')
df.to_csv('F:\sapceX\preprocessed_dataset.csv')
df.info

<bound method DataFrame.info of      PayloadMass  Flights  GridFins  Reused  Legs  Block  ReusedCount  Class  \
0    6104.959412        1         0       0     0    1.0            0      0
1     525.000000        1         0       0     0    1.0            0      0
2     677.000000        1         0       0     0    1.0            0      0
3     500.000000        1         0       0     0    1.0            0      0
4    3170.000000        1         0       0     0    1.0            0      0
..           ...      ...       ...     ...   ...    ...          ...    ...
85  15400.000000        2         1       1     1    5.0            2      1
86  15400.000000        3         1       1     1    5.0            2      1
87  15400.000000        6         1       1     1    5.0            5      1
88  15400.000000        3         1       1     1    5.0            2      1
89   3681.000000        1         1       0     1    5.0            0      1

    Orbit_ES-L1  Orbit_GEO  ...  Serial_B1048  Serial_B1049  Serial_B1050  \
0         False      False  ...         False         False         False
1         False      False  ...         False         False         False
2         False      False  ...         False         False         False
3         False      False  ...         False         False         False
4         False      False  ...         False         False         False
..          ...        ...  ...           ...           ...           ...
85        False      False  ...         False         False         False
86        False      False  ...         False         False         False
87        False      False  ...         False         False         False
88        False      False  ...         False         False         False
89        False      False  ...         False         False         False

    Serial_B1051  Serial_B1054  Serial_B1056  Serial_B1058  Serial_B1059  \
0          False         False         False         False         False
1          False         False         False         False         False
2          False         False         False         False         False
3          False         False         False         False         False
4          False         False         False         False         False
..           ...           ...           ...           ...           ...
85         False         False         False         False         False
86         False         False         False          True         False
87          True         False         False         False         False
88         False         False         False         False         False
89         False         False         False         False         False

    Serial_B1060  Serial_B1062
0          False         False
1          False         False
2          False         False
3          False         False
4          False         False
..           ...           ...
85          True         False
86         False         False
87         False         False
88          True         False
89         False          True

[90 rows x 88 columns]>